fastapi
uvicorn[standard]
pydantic
python-dotenv
groq
pandas
numpy
faiss-cpu
sentence-transformers
openpyxl
langgraph
langgraph-checkpoint-postgres==2.0.25
langchain-groq
psycopg[binary]
resend

langgraph
langchain
langchain_groq
langchain_community 

